@import '../../../../styles.less';
.cus-btn {
    background: rgba(0,0,0,0);
    color: @color-blue;
    font-size: @default-fontz;
    border: none;
  }
  
  .cus-btn:hover {
    color: @color-white;
    transition: @transiton-cl-3;
  }