@import '../../../../styles.less';
.cus-btn {
    background: rgba(0,0,0,0);
    color: @color-blue;
    font-size: @default-fontz;
    border: @default-border-width solid @color-blue;
  }
  .cus-btn:hover {
    color: @color-white;
    transition: @transiton-cl-3;
  }

  .mr-3 {
    margin-right: @default-pd;
  }