@import '../../../../styles.less';
.nor-btn {
    font-family: @default-font;
    font-size: @default-fontz;
    width: 200px;
    background: @color-white;
    // border: 2px solid @color-gray;
    color: @color-gray-text;
    border-radius: @radius-sm;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.selected {
    color: @color-white;
    background: @color-blue;
}

.selected:hover{
    background: @color-blue-d !important;
    // box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.nor-btn:hover {
    background: @color-gray-annouce;
    transition: @transiton-bg-3;
    // box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}