/* You can add global styles to this file, and also import other style files */
.show {
  display: inline-block !important;
}
.page {
  position: relative;
  height: 100vh;
  letter-spacing: -3px;
  overflow: hidden;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mc {
  margin-left: auto;
  margin-right: auto;
}
.hover {
  cursor: pointer;
  background: #F4F4F4;
  transition: background 0.3s linear;
}
.rlt {
  position: relative;
}
.clear-pd {
  padding: 0;
}
.clear-bor {
  border: none;
}
.search-img {
  height: 24px;
  width: 25px;
}
.cus-input {
  border-radius: 250px;
  border: 2px solid #F4F4F4;
  width: 200px;
}
.ilb {
  display: inline-block;
}
.cus-btn {
  width: 50px;
  background: #fff;
  border-right: none;
  border-top-left-radius: 250px;
  border-bottom-left-radius: 250px;
}
.cus-btn:hover {
  background: #F4F4F4;
}
.cus-bor {
  border: none;
  border-top-right-radius: 250px;
  border-bottom-right-radius: 250px;
}
