<!-- <div class="input-group cus-input">
  <div class="input-group-prepend">
    <button class="btn clear-pd" type="button" id="button-addon1">
      <img src={{searchPic}} alt="..." class="search-img">
    </button>
  </div>
  <input type="text" class="form-control" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
</div> -->
<div class="ilb">
  <div class="input-group cus-input">
    <div class="input-group-prepend">
      <button class="btn clear-pd cus-btn" type="button" id="button-addon1">
        <img src={{searchPic}} alt="..." class="search-img">
      </button>
    </div>
    <input type="text" class="form-control cus-bor" placeholder="" aria-label="Example text with button addon"
      aria-describedby="button-addon1">
  </div>
</div>
