@import '../../../styles.less';

.flex-col {
  display: flex;
}

.row-pill {
  background: @color-gray-table;
  width: 100%;
  border: @default-pd/3 solid @color-white;
  border-left: none;
  border-right: none;
  border-radius: @radius;
}

.row-pill:hover {
  .hover-rule();
  background: @hover-gray;
  transition: @transiton-bg-3;
}

.cus-btn {
  background: rgba(0,0,0,0);
  color: @color-blue;
  font-size: @default-fontz;
  border: none;
}

.cus-btn:hover {
  color: @color-white;
  transition: @transiton-cl-3;
}

.table th, .table td {
  margin: 0;
  vertical-align: middle;
  width: auto;
  border-top: none;
}

.table th {
  min-width: 150px;
}

.table td {
  width: 100%;
  text-align: left;
}

.table {
  text-align: center;
  font-family: @default-font;
  font-size: @default-fontz;
  font-weight: 400 !important;
}

.auto {
  border-collapse: collapse;
  width: auto;
}

@height: 50px;

