/* You can add global styles to this file, and also import other style files */
.show {
  display: inline-block !important;
}
.page {
  position: relative;
  height: 100vh;
  letter-spacing: -3px;
  overflow: hidden;
}
.template {
  position: relative;
  padding: 30px;
  background: #fff;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mc {
  margin-left: auto;
  margin-right: auto;
}
.hover {
  cursor: pointer;
  background: #F4F4F4;
  transition: background 0.3s linear;
}
.rlt {
  position: relative;
}
.clear-pd {
  padding: 0;
}
.clear-bor {
  border: none;
}
.hover-rule {
  cursor: pointer;
}
.ilb {
  display: inline-block;
  width: auto;
}
.flx-md {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mr {
  margin-right: 30px;
}
.mr:last-child {
  margin: 0;
}
.ct {
  text-align: center;
}
.mt {
  margin-top: 15px;
}
.row-pill {
  background: #F5F6FA;
  width: 100%;
}
.cus-btn {
  background: #F5F6FA;
  color: #20BDFF;
  border: none;
}
.cus-btn:hover {
  color: #838383;
  transition: color 0.2s linear;
}
.table th,
.table td {
  padding-left: 0;
  padding-right: 0;
  vertical-align: middle;
  width: auto;
}
.auto {
  width: auto;
}
