<table class="table table table-borderless" style="text-align:center">
  <thead>
    <tr>
      <th scope="col" *ngFor="let title of tabTitles">{{title}}</th>
    </tr>
  </thead>
  <tbody *ngFor="let item of list">
    <tr class="row-pill">
      <th scope="row" *ngFor="let tab of tabProps">{{item[tab]}}</th>
      <td>
        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-secondary cus-btn" *ngFor="let button of buttonProps" (click)="select(button.callback)">{{button.name}}</button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
