<table class="table table-borderless auto" style="text-align:center">
  <thead class="">
    <tr>
      <th scope="col-sm-1" *ngFor="let title of tabTitles" class="mr">{{title}}</th>
    </tr>
  </thead>
  <tbody *ngFor="let item of list">
    <tr class="row-pill l">
      <th scope="row" *ngFor="let tab of tabProps">{{item[tab]}}</th>
      <td>
        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-secondary cus-btn" *ngFor="let button of buttonProps" (click)="select(button.callback)">{{button.name}}</button>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<script type="text">
  
  </script>

<!-- <div id="table" class="cus-table">
  <div id="title">
    <span *ngFor="let title of tabTitles">{{title}}</span>
  </div>
  <div class="row-pill" *ngFor="let item of list">
    <span *ngFor="let tab of tabProps">{{item[tab]}}</span>
  </div>
</div> -->