<table class="table auto" #table>
  <thead class="">
    <tr>
      <th scope="col-sm-1" *ngFor="let title of tabTitles" class="mr  th">{{title}}</th>
    </tr>
  </thead>
  <tbody>
    <tr class="row-pill" *ngFor="let item of list">
      <th scope="row" *ngFor="let tab of tabProps">{{item[tab]}}</th>
      <th>
        <app-button-group [props]="buttonProps"></app-button-group>
      </th>
      <td></td>
    </tr>
  </tbody>
</table>
<!-- <div id="table" class="cus-table">
  <div id="title">
    <span *ngFor="let title of tabTitles">{{title}}</span>
  </div>
  <div class="row-pill" *ngFor="let item of list">
    <span *ngFor="let tab of tabProps">{{item[tab]}}</span>
  </div>
</div> -->
