.form {
  width: 50%;
  height: 50%;
}
.div {
  text-align: center;
  line-height: 100vh;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}
.form-body {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  height: 95%;
  width: 98%;
  background: #eee;
}
.div-form {
  text-align: center;
}
.form-pill {
  height: 50%;
  width: 50%;
  background: #eee;
}
.right {
  text-align: right;
}
