<!-- <app-table></app-table>
<app-default-toast></app-default-toast> -->
<!-- <app-default-datepick></app-default-datepick> -->
<!-- <app-usermanager></app-usermanager> -->
<!-- <app-menu></app-menu>
    <app-manager></app-manager> -->
<!-- <div class="container-fluid shadow p-3 mb-5 bg-white rounded">
    <app-nav></app-nav>
    <app-menu></app-menu>
</div> -->
<button type="button" class="btn btn-primary" (click)="showToast()" onl>Create template modal</button>
<app-default-toast></app-default-toast>