@import '../../../assets/bootstrap.less';
@import '../../../styles.less';
.mr {
    margin-right: 30px;
    margin-bottom: 30px;
    color: @color-blue;
}

.mr:last-child {
    margin-right: 0;
}

.desktops {
    .btn-group {
        width: auto;
        .float-left();
    }
    
    .input {
        width: auto;
        .float-right();
    }
}

.tablets {
    .btn-group {
        display: inline-block;
        width: auto;
        margin-bottom: 30px;
    }

    .input {
        display: inline-block;
        width: auto;
    }
}

.mobiles {
    .btn-group {
        display: inline-block;
        width: auto;
    }

    .input {
        display: inline-block;
        width: auto;
    }
}

@media(max-width: 576px) {
    .mobiles();
}

@media (min-width: 576px) { 
    .tablets();
 }

@media screen and (min-width: 768px){
    .tablets();
}

// @media screen and (min-width: 1500px){
//     .tablets();
// }

@media (min-width: 992px) { 
    .tablets();
}

@media (min-width: 1500px) { 
    .desktops();
}