<app-nav></app-nav>
<div class="row t">
  <div class="clear-pd col-left">
    <ul class="nav nav-pills cus-tab" id="pills-tab" role="tablist">
      <li class="nav-item cus-tab-pill" *ngFor="let item of firstMenu; let i = index" (click)="selectMenu(item)">
        <div class="center">
          <img src={{item.dpic}} alt="..." class="mb-2" *ngIf="item === selectedMenu">
          <img src={{item.gpic}} alt="..." class="mb-2" [hidden]="item === selectedMenu">
          <h6 [class.selectedText]="item === selectedMenu" class="h6">{{item.title}}</h6>
        </div>
      </li>
    </ul>
    <div>
      <app-list [list]="list"></app-list>
    </div>
  </div>
  <div class="clear-pd col-right">
    <div class="base-body">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
