@import '../../../styles.less';

.selectedText {
    color: @color-black !important;
}

.h6 {
    color: #C7C7C7;
}

.t{
    width: 100%;
    height: 100vh - @nav-height;
    overflow: hidden;
    margin-right: 0;
    margin-left: 0;
}

.cus-tab {
    text-align: center;
}

.cus-tab img {
    display: inline-block;
    height: @img-sm-lg;
    width: @img-sm-lg;
}


.cus-tab-pill {
    position: relative;
    width: 50%;
    height: 2*@nav-height;
    h6 {
        font-size: @default-fontz;
    }
}

.cus-tab-pill:hover {
    .hover-rule();
}

.base-body {
    width: @base-width;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: @default-pd;
    background: @color-gray;
}

.col-left {
    display: inline-block;
    width: @menu-width;
}

.col-right {
    display: inline-block;
    width: 100% - @menu-width;
    background: @color-gray;
}