/* You can add global styles to this file, and also import other style files */
.show {
  display: inline-block !important;
}
.page {
  position: relative;
  height: 100vh;
  letter-spacing: -3px;
  overflow: hidden;
}
.template {
  position: relative;
  padding: 30px;
  background: #fff;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mc {
  margin-left: auto;
  margin-right: auto;
}
.hover {
  cursor: pointer;
  background: #F4F4F4;
  transition: background 0.3s linear;
}
.rlt {
  position: relative;
}
.clear-pd {
  padding: 0;
}
.clear-bor {
  border: none;
}
.hover-rule {
  cursor: pointer;
}
.img {
  height: 15px;
  width: 15px;
  margin-right: 30px;
}
.cus-alert {
  padding-left: 0;
}
.img:hover {
  cursor: pointer;
}
