/* You can add global styles to this file, and also import other style files */


    // .active {
    //     background: #007bff;
    // }
    
    .show {
        display: inline-block !important;
    }
    
    .page {
        position: relative;
        height: 100vh;
        letter-spacing: -3px;
        overflow: hidden;
    }


    .template {
        position: relative;
        padding: @default-pd;
        background: @color-white;
    }
    
    .center{
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    @color-white: #fff;
    @color-gray: #F4F4F4;
    @color-gray-table: #F5F6FA;
    @color-gray-pill: #EFEFEF;
    @color-gray-text: #838383;
    @color-blue: #20BDFF;
    @color-red: #dc3545;
    @nav-height: 7vh;
    @color-black: #292929;
    @default-pd: 30px;
    @img-sm: 15px;
    .mc {
        margin-left: auto;
        margin-right: auto;
    }

    .hover {
        cursor: pointer;
        background: @color-gray;
        transition: background 0.3s linear;
    }

    .rlt {
        position: relative;
    }

    .clear-pd {
        padding: 0;
    }

    .clear-bor {
        border: none;
    }

    .hover-rule{
        cursor: pointer;
    }

    .ilb{
        display: inline-block;
        width: auto;
    }

    .flx-md {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mr {
        margin-right: @default-pd;
    }

    .mr:last-child{
        margin: 0;
    }

    .ct{
        text-align: center;
    }
    
    .mt {
        margin-top: @default-pd/2;
    }