<div class="template ">
  <app-pointer-button [props]="props"></app-pointer-button>
  <form class="ml" [formGroup]="itemAddForm" (ngSubmit)="submit()">
    <div class="form-group row" *ngFor="let item of list">
      <label class="col-sm-1 col-form-label">{{item.title}}</label>
      <div class="col-sm-3">
        <input type={{item.type}} [readonly]="item.readonly" class={{item.clz}} placeholder={{item.placeholder}}
          [class.is-invalid]="itemUpdateForm.value[item.name] == ''" [class.file-input]="item.type === 'file'" (blur)="validate()"
          formControlName={{item.name}} *ngIf="item.type !== 'file'">
        <div class="clearfix" *ngIf="item.type === 'file'">
          <nz-upload nzAction="preImageApi" nzListType="picture-card" [(nzFileList)]="fileList" [nzShowButton]="fileList.length < 3"
            [nzPreview]="handlePreview">
            <i nz-icon type="plus"></i>
            <div class="ant-upload-text">Upload</div>
          </nz-upload>
          <nz-modal [nzVisible]="previewVisible" [nzContent]="modalContent" [nzFooter]="null" (nzOnCancel)="previewVisible=false">
            <ng-template #modalContent>
              <img [src]="previewImage" [ngStyle]="{ 'width': '100%' }" />
            </ng-template>
          </nz-modal>
        </div>
        <div class="invalid-feedback">
          {{item.wt}}
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-1 col-form-label"></label>
      <div class="col-sm-3 ct mt">
        <app-small-button [prop]="item" *ngFor="let item of buttons" class="mr" aria-disabled="true"></app-small-button>
      </div>
    </div>
  </form>
</div>
